@font-face {
    font-family: CompactaBT;
    src: url("../../resources/fonts/CompactaBT-Roman.otf") format("opentype");
}

@font-face {
    font-family: CompactaBT;
    font-weight: bold;
    src: url("../../resources/fonts/CompactaBT-Bold.otf") format("opentype");
}

@font-face {
    font-family: CompactaBT;
    font-style: italic;
    src: url("../../resources/fonts/CompactaBT-Italic.otf") format("opentype");
}

@font-face {
    font-family: CompactaBdBT;
    src: url("../../resources/fonts/Compacta-Bd-BT-Roman.ttf") format("ttf");
}

@font-face {
    font-family: CompactaBdBT;
    font-weight: bold;
    src: url("../../resources/fonts/Compacta-Bd-BT-Bold.ttf") format("ttf");
}



@font-face {
    font-family: TradeGothic;
    src: url("../../resources/fonts/TradeGothicLT-Regular.ttf") format("ttf");
}

@font-face {
    font-family: TradeGothic;
    font-weight: bold;
    src: url("../../resources/fonts/TradeGothicLT-Bold.ttf") format("ttf");
}

@font-face {
    font-family: TradeGothic;
    font-style: italic;
    src: url("../../resources/fonts/TradeGothicLT-Italic.ttf") format("ttf");
}
